<!-- Login Form -->
<app-alert *ngIf="showAlert" [color]="alertColor">{{ alertMsg }}</app-alert>
<form #loginForm="ngForm">
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <input
      type="email"
      name="email"
      [(ngModel)]="credentials.email"
      #email="ngModel"
      required
      pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="Enter Email"
    />
    <small
      *ngIf="email.touched && email.dirty && email.errors"
      class="text-rose-400"
      >Email is invalid</small
    >
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <input
      type="password"
      name="password"
      [(ngModel)]="credentials.password"
      #password="ngModel"
      required
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="Password"
    />
    <small
      *ngIf="password.touched && password.dirty && password.errors"
      class="text-rose-400"
      >Password is invalid</small
    >
  </div>
  <button
    type="submit"
    [disabled]="loginForm.invalid || isSubmitting"
    class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition hover:bg-indigo-500"
  >
    Submit
  </button>
</form>
